AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteEngine on
ErrorDocument 404 /index.php
